:root {
  --main-text-cl: #b4afaf;
  --blue-cl: #4f2ee8;
  --accent-cl: #eac645;
  --white-cl: #ffffff;
  --black-cl: #111111;
  --border-sl-cl: rgba(79, 46, 232, 0.4);

  --cubic-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-background: rgba(17, 17, 17, 0.4);
  --radial-gradient: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  --theme-switcher-linear-gradient: linear-gradient(
    180deg,
    #ffffff 0%,
    #f7f7f7 100%
  );
}

.light-style {
  --main-bg-cl: #f6f6f6;
  --secondary-text-cl: #111111;
  --secondary-bg-cl: #ffffff;
  --third-text-cl: rgba(17, 17, 17, 0.6);
  --fourth-text-cl: rgba(0, 0, 0, 0.6);
  --switcher-gradient: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  --light-amazon: brightness(100%);
  --categories-accent: #4f2ee8;
  --modal-bg-cl: #ffffff;
}

.dark-style {
  --main-bg-cl: #202024;
  --secondary-text-cl: #ffffff;
  --secondary-bg-cl: #111111;
  --third-text-cl: rgba(255, 255, 255, 0.6);
  --fourth-text-cl: rgba(255, 255, 255, 0.6);
  --switcher-gradient: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  --light-amazon: brightness(1800%);
  --categories-accent: #eac645;
  --modal-bg-cl: #202024;
}
