
<aside class="funds__wrapper">
  <div class="funds__container">
          <div class="funds__section">
              <a class="funds__title">Support Ukraine
              <svg class="hero__icon" width="20px" height="32px"><use href="/src/images/images_funds/icons.svg#icon-gerb"></use></svg> </a>
         </div>

  <div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <a class="swiper__link" target="_blank" rel="nofollow" href='https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis'>
        <svg class="hero__icon" width="14px" height="18px"><use href="/src/images/images_funds/icons.svg#icon-01"></use></svg>
          <img class="swiper__baner" src='/src/images/images_funds/SaveChildren.png' alt="SaveChildren" height="32px"></img>
          </a>
          </div>
    <div class="swiper-slide">
      <a class="swiper__link" target="_blank" rel="nofollow" href='https://www.projecthope.org/country/ukraine/'>
      <svg class="hero__icon" width="14px" height="18px"><use href="/src/images/images_funds/icons.svg#icon-02"></use></svg>
      <img class="swiper__baner" src='/src/images/images_funds/projectHope.png' alt="SaveChildren" height="32px"></img></a>
    </div>
    <div class="swiper-slide">
      <a class="swiper__link" target="_blank" rel="nofollow" href='https://internationalmedicalcorps.org/country/ukraine/'>
      <svg class="hero__icon" width="14px" height="18px"><use href="/src/images/images_funds/icons.svg#icon-03"></use></svg>
              <img class="swiper__baner" src='/src/images/images_funds/interMedCorps.png' alt="SaveChildren" height="32px"></img></a>

    </div>
    <div class="swiper-slide">
        <a class="swiper__link" target="_blank" rel="nofollow" href='https://www.razomforukraine.org/'>
        <svg class="hero__icon" width="14px" height="18px"><use href="/src/images/images_funds/icons.svg#icon-04"></use></svg>
      <img class="swiper__baner" src='/src/images/images_funds/Razom.png' alt="SaveChildren" height="32px"></img></a>

    </div>
    <div class="swiper-slide">
      <a class="swiper__link" target="_blank" rel="nofollow" href='https://www.actionagainsthunger.org/location/europe/ukraine/'>
      <svg class="hero__icon" width="14px" height="18px"><use href="/src/images/images_funds/icons.svg#icon-05"></use></svg>
      <img class="swiper__baner" src='/src/images/images_funds/actionAgNun.png' alt="SaveChildren" height="32px"></img></a>
    </div>
    <div class="swiper-slide">
      <a class="swiper__link" target="_blank" rel="nofollow" href='https://prytulafoundation.org/en'>
      <svg class="hero__icon" width="14px" height="18px"><use href="/src/images/images_funds/icons.svg#icon-06"></use>
    </svg>
      <img class="swiper__baner" src='/src/images/images_funds/SergiyPrytula.png' alt="SaveChildren" height="32px"></img></a>
    </div>
</aside>
