<div class="backdrop-mob is-hidden">
  <div class="modal">
    <button class="close-btn modal__close-btn" type="button">
      <!-- <svg width="18" height="18">
        <!-- <use href="./images/icons/icons.svg#icon-close"></use> -->
      <!-- </svg> --> 
    </button>

    <form name="contact-form auth-form">
      <ul class="form-field">
        <li class="form-field__item">
          <label class="form-field__label" for="user-name"></label>
          <div class="form-field__content">
            <input
              class="form-field__input"
              id="user-name-auth"
              type="text"
              name="user-name"
            />
          </div>
        </li>
                <li class="form-field__item">
          <label class="form-field__label" for="user-email"></label>
          <div class="form-field__content">
            <input
              class="form-field__input"
              id="user-email-auth"
              type="email"
              name="user-email"
            />
            <svg class="form-field__icon" width="18" height="18">
              <use href="/src/images/icons.svg#icon-auth-mail"></use>
            </svg>
          </div>
        </li>
        <li class="form-field__item">
          <label class="form-field__label" for="user-password"></label>
          <div class="form-field__content">
            <input
              class="form-field__input"
              id="user-password-auth"
              type="password"
              name="user-password"
            />
            <svg class="form-field__icon" width="18" height="18">
              <use href="/src/images/icons.svg#icon-auth-password"></use>
            </svg>
          </div>
        </li>

    <button class="btn-big form-field__btn auth-form-singUp-btn submitSingUpBtn" type="submit">Sing up</button>
    <button class="btn-big form-field__btn auth-form-singUp-btn addbook" type="button">Sing up</button>
    <button class="btn-big form-field__btn auth-form-singIn-btn createNewUserAuth" type="submit">Sing in</button>
    </form>
  </div>
</div>
