<header class="header container">
  <div class="header__nav-box">
    <a href="./index.html" class="header__logo">
      <svg class="header__icon" width="109" height="28">
        <use
          href="/src/images/icons.svg#white-theme-logo"
          class="header__logo-icon-light"
        ></use>
        <use
          href="/src/images/icons.svg#black-theme-logo"
          class="header__logo-icon-dark"
        ></use>
      </svg>
    </a>
    <div class="header__menu-btn">
      <a class="header__btn header__btn-home" href="./index.html">Home</a>
      <a
        class="header__btn header__btn-shoppingList"
        href="./shopping_list.html"
      >
        Shopping list
        <svg class="header__icon-shoppingList" width="20" height="20">
          <use href="/src/images/icons.svg#icon-cart"></use>
        </svg>
      </a>
    </div>
  </div>

  <div class="switch-container">
    <label id="switch" class="switch">
      <input type="checkbox" id="slider" />
      <span class="slider round"></span>
    </label>
    <button type="button" class="header__btn-signUp">
      Sign up
      <svg class="header__icon-signUp" width="20" height="20">
        <use href="/src/images/icons.svg#icon-arrow-narrow-right"></use>
      </svg>
    </button>
    <button class="header__burger js-open-menu" type="button">
      <svg width="28" height="28" aria-label="Мобільне меню">
        <use
          href="/src/images/icons.svg#icon-burger"
          class="header__burger-menu is-active"
        ></use>
        <use
          href="/src/images/icons.svg#icon-x-close"
          class="header__burger-close"
        ></use>
      </svg>
    </button>
  </div>
</header>

