<div class="mobile-menu js-menu-container">
  <div class="mobile-menu__container js-menu-container">
    <button type="button" class="header__btn-signUp mobile-menu__btn-signUp">
      Sign up
      <svg class="header__icon-signUp" width="20" height="20">
        <use href="/src/images/icons.svg#icon-arrow-narrow-right"></use>
      </svg>
    </button>
    <div class="mobile-menu__bgImg"></div>
    <div class="mobile-menu__btns">
      <a
        class="header__btn mobile-menu__btn mobile-menu__btn-home"
        href="./index.html"
        >Home</a
      >
      <a
        class="header__btn mobile-menu__btn mobile-menu__btn-shoppingList"
        href="./shopping_list.html"
      >
        Shopping list
        <svg class="header__icon-shoppingList" width="20" height="20">
          <use href="/src/images/icons.svg#icon-cart"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
