<div class="mobile-menu js-menu-container">
  <div class="mobile-menu__container">
    <div class="mobile-menu__bgImg"></div>

    <button class="mobile-menu__user-icon-box" type="button" disabled>
      <svg class="mobile-menu__user-icon" width="37" height="37">
        <use href="/src/images/symbol-defs.svg#User-icon"></use>
      </svg>
      <span class="mobile-menu__user-name">User</span>
    </button>

    <div class="mobile-menu__btns">
      <button
        type="button"
        class="header__btn mobile-menu__btn mobile-menu__btn-home"
      >
        Home
      </button>
      <button
        type="button"
        class="header__btn mobile-menu__btn mobile-menu__btn-shoppingList"
      >
        Shopping list
        <svg class="header__icon-shoppingList" width="20" height="20">
          <use href="/src/images/symbol-defs.svg#basket"></use>
        </svg>
      </button>
    </div>
    <!-- кнопка для виходу, якщо буде підключена авторизація -->
    <!-- <button type="button" class="mobile-menu__logOut-btn">Log Out
        <svg class="mobile-menu__icon-logOut-btn" width="20" height="20">
          <use href="/src/images/symbol-defs.svg#right-arrow"></use>
        </svg>
      </button> -->
  </div>
</div>
