<button type="button" data-action="open-modal">Open modal</button>
<div class="backdrop js-backdrop">
    <div class="modal">
        <button type="button" data-action="close-modal">Close modal</button>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin libero vel gravida ullamcorper.
            Mauris luctus auctor augue, a fermentum nunc aliquam et. Fusce eget risus pulvinar, aliquam elit id,
            congue lectus. Integer nec nunc vel justo interdum accumsan. Nullam a tellus id metus aliquet lacinia sed
            sit amet
            risus.
        </p>

        <p>
            Phasellus efficitur, enim a bibendum ultricies, leo dui varius risus, vitae tristique velit neque vel purus.
            Curabitur sit amet nibh condimentum, consectetur ligula a, tincidunt urna. Sed quis facilisis nisi, id
            laoreet
            turpis.
            Aliquam vitae leo magna. Nulla ac velit aliquam, dignissim erat nec, dignissim quam. Curabitur nec orci
            orci.
        </p>
    </div>
</div>