<main>
  <section class="section">
    <div class="container portfolio">
      <h1 class="portfolio-title portfolio-title--visually-hidden">
        Портфоліо
      </h1>
      <ul class="list portfolio__filters-list">
        <li>
          <button class="portfolio__button" type="button">Усі</button>
        </li>
        <li>
          <button class="portfolio__button" type="button">Веб-сайти</button>
        </li>
        <li>
          <button class="portfolio__button" type="button">Додатки</button>
        </li>
        <li>
          <button class="portfolio__button" type="button">Дизайн</button>
        </li>
        <li>
          <button class="portfolio__button" type="button">Маркетинг</button>
        </li>
      </ul>
      <!--Проекти-Projects-->
      <ul class="list projects-list">
        <li class="projects-list__item">
          <div class="projects-card">
            <picture>
              <source
                srcset="
                  ./images/Technokryak480@1X.webp 1x,
                  ./images/Technokryak480@2X.webp 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/Technokryak768@1X.webp 1x,
                  ./images/Technokryak768@2X.webp 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./images/Technokryak1200@1X.webp 1x,
                  ./images/Technokryak1200@2X.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./images/Technokryak480@1X.webp"
                alt="відкритий ноутбук із фото двох дівчат та хлопця"
              />
            </picture>

            <div>
              <p class="projects-card__overlay">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="projects-card__description">
            <h3 class="projects-card__title">Технокряк</h3>
            <p class="projects-card__subtitle">Веб-сайт</p>
          </div>
        </li>
        <li class="projects-list__item">
          <div class="projects-card">
            <picture>
              <source
                srcset="
                  ./images/PosterNewOrleanVsGoldenStar480@1X.webp 1x,
                  ./images/PosterNewOrleanVsGoldenStar480@2X.webp 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/PosterNewOrleanVsGoldenStar768@1X.webp 1x,
                  ./images/PosterNewOrleanVsGoldenStar768@2X.webp 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./images/PosterNewOrleanVsGoldenStar1200@1X.webp 1x,
                  ./images/PosterNewOrleanVsGoldenStar1200@2X.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./images/PosterNewOrleanVsGoldenStar480@1X.webp"
                alt="відкритий ноутбук із фото двох дівчат та хлопця"
              />
            </picture>

            <div>
              <p class="projects-card__overlay">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="projects-card__description">
            <h3 class="projects-card__title" lang="en">
              Постер New Orlean vs Golden Star
            </h3>
            <p class="projects-card__subtitle">Дизайн</p>
          </div>
        </li>
        <li class="projects-list__item">
          <div class="projects-card">
            <picture>
              <source
                srcset="
                  ./images/Seafood480@1X.webp 1x,
                  ./images/Seafood480@2X.webp 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/Seafood768@1X.webp 1x,
                  ./images/Seafood768@2X.webp 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./images/Seafood1200@1X.webp 1x,
                  ./images/Seafood1200@2X.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./images/Seafood480@1X.webp"
                alt="емблема рибного ресторану"
              />
            </picture>

            <div>
              <p class="projects-card__overlay">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="projects-card__description">
            <h3 class="projects-card__title" lang="en">Ресторан Seafood</h3>
            <p class="projects-card__subtitle">Додаток</p>
          </div>
        </li>
        <li class="projects-list__item">
          <div class="projects-card">
            <picture>
              <source
                srcset="
                  ./images/Prime480@1X.webp 1x,
                  ./images/Prime480@2X.webp 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/Prime768@1X.webp 1x,
                  ./images/Prime768@2X.webp 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./images/Prime1200@1X.webp 1x,
                  ./images/Prime1200@2X.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <img src="./images/Prime480@1X.webp" alt="навушники" />
            </picture>

            <div>
              <p class="projects-card__overlay">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="projects-card__description">
            <h3 class="projects-card__title" lang="en">Проєкт Prime</h3>
            <p class="projects-card__subtitle">Маркетинг</p>
          </div>
        </li>
        <li class="projects-list__item">
          <div class="projects-card">
            <picture>
              <source
                srcset="
                  ./images/Boxes480@1X.webp 1x,
                  ./images/Boxes480@2X.webp 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/Boxes768@1X.webp 1x,
                  ./images/Boxes768@2X.webp 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./images/Boxes1200@1X.webp 1x,
                  ./images/Boxes1200@2X.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <img src="./images/Boxes480@1X.webp" alt="дві коробки" />
            </picture>

            <div>
              <p class="projects-card__overlay">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="projects-card__description">
            <h3 class="projects-card__title" lang="en">Проєкт Boxes</h3>
            <p class="projects-card__subtitle">Додаток</p>
          </div>
        </li>
        <li class="projects-list__item">
          <div class="projects-card">
            <picture>
              <source
                srcset="
                  ./images/InspirationHasNoBorders480@1X.webp 1x,
                  ./images/InspirationHasNoBorders480@2X.webp 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/InspirationHasNoBorders768@1X.webp 1x,
                  ./images/InspirationHasNoBorders768@2X.webp 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./images/InspirationHasNoBorders1200@1X.webp 1x,
                  ./images/InspirationHasNoBorders1200@2X.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./images/InspirationHasNoBorders480@1X.webp"
                alt="дисплей"
              />
            </picture>

            <div>
              <p class="projects-card__overlay">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="projects-card__description">
            <h3 class="projects-card__title" lang="en">
              Inspiration has no Borders
            </h3>
            <p class="projects-card__subtitle">Веб-сайт</p>
          </div>
        </li>
        <li class="projects-list__item">
          <div class="projects-card">
            <picture>
              <source
                srcset="
                  ./images/LimitedEdition480@1X.webp 1x,
                  ./images/LimitedEdition480@2X.webp 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/LimitedEdition768@1X.webp 1x,
                  ./images/LimitedEdition768@2X.webp 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./images/LimitedEdition1200@1X.webp 1x,
                  ./images/LimitedEdition1200@2X.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./images/ProjectLab480@1X.webp"
                alt="розгорнутий журнал"
              />
            </picture>

            <div>
              <p class="projects-card__overlay">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="projects-card__description">
            <h3 class="projects-card__title" lang="en">
              Видання Limited Edition
            </h3>
            <p class="projects-card__subtitle">Дизайн</p>
          </div>
        </li>
        <li class="projects-list__item">
          <div class="projects-card">
            <picture>
              <source
                srcset="
                  ./images/ProjectLab480@1X.webp 1x,
                  ./images/ProjectLab480@2X.webp 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/ProjectLab768@1X.webp 1x,
                  ./images/ProjectLab768@2X.webp 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./images/ProjectLab1200@1X.webp 1x,
                  ./images/ProjectLab1200@2X.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./images/ProjectLab480@1X.webp"
                alt="розгорнутий журнал"
              />
            </picture>

            <p class="projects-card__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу
              та сервісів. Все це дозволить відвідувачу отримати вичерпні
              відомості про компанію чи приватну особу.
            </p>
          </div>
          <div class="projects-card__description">
            <h3 class="projects-card__title" lang="en">Проєкт LAB</h3>
            <p class="projects-card__subtitle">Маркетинг</p>
          </div>
        </li>
        <li class="projects-list__item">
          <div class="projects-card">
            <picture>
              <source
                srcset="
                  ./images/GrowingBusiness480@1X.webp 1x,
                  ./images/GrowingBusiness480@2X.webp 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/GrowingBusiness768@1X.webp 1x,
                  ./images/GrowingBusiness768@2X.webp 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./images/GrowingBusiness1200@1X.webp 1x,
                  ./images/GrowingBusiness1200@2X.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./images/GrowingBusiness480@1X.webp"
                alt="розгорнутий журнал"
              />
            </picture>

            <div>
              <p class="projects-card__overlay">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="projects-card__description">
            <h3 class="projects-card__title" lang="en">Growing Business</h3>
            <p class="projects-card__subtitle">Додаток</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>
