<section class="shoppingList__section">
  <div class="shoppingList">
    <h1 class="shoppingListHeading">
      <p class="text-title">Shopping <span class="textInverse">List</span></p>
    </h1>
    <div class="emptyBasket">
      <div class="emptyShoppingList">
        <p class="emptyText">
          This page is empty, add some books and proceed to order.
        </p>
        <div class="thumbEmptyShoppingList"></div>
      </div>
    </div>
    <ul class="basketList"></ul>
  </div>
</section>