.mobile-menu {
  position: fixed;

  top: 0;
  left: 0;
  height: 100%;
  min-width: 320px;
  width: 100%;
  padding: 104px 20px 20px 20px;
  background: var(--radial-gradient);
  transform: translateX(-200%);
  transition: transform var(--cubic-time);
  overflow: hidden;
  z-index: 1;

  &.is-open {
    transform: translateY(0px);
    transition: transform var(--cubic-time);
  }

  &.is-open body {
    overflow: hidden;
  }

  &__btn-signUp {
    display: flex;
  }

  &__bgImg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 450px;
    height: 439px;

    transform: translate(-50%, 30%) rotate(-15deg);

    background-image: url(/src/images/mob13@1x.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/src/images/mob13@2x.png);
    }
    background-repeat: no-repeat;
  }
}
