body.show-popup .popup {
  transform: scale(1);
}
body.show-popup .modal-container {
  opacity: 1;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--cubic-time);
}

.popup {
  position: relative;
  max-height: 762px;

  padding: 40px 24px;

  background-color: var(--modal-bg-cl);
  border: 2px solid var(--secondary-text-cl);
  border-radius: 18px;
  transform: scale(0.5);
  transition: transform var(--cubic-time);

  pointer-events: all;
  overflow-y: auto;
  overflow-x: hidden;

  @media screen and (max-height: 530px) {
    height: 100%;
  }

  @include for-phone-only {
    width: 100%;
    max-width: 335px;
    height: 100%;
  }

  @include for-tablet-up {
    padding: 40px 40px;
    width: 579px;
  }
}

.close-popup {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  cursor: pointer;
  border: none;

  fill: var(--secondary-text-cl);
  background-color: transparent;
  transition: fill var(--cubic-time);

  &:hover,
  &:focus {
    fill: var(--blue-cl);
  }
}

.popup-box {
  width: 287px;

  @media screen and (min-width: $bp-tablet) {
    display: flex;
    width: 100%;
    margin: 0 0 40px 0;
  }
}

.popup-box-img {
  margin: 0 auto 14px auto;

  min-width: 287px;
  height: 408px;

  @media screen and (min-width: $bp-tablet) {
    margin: 0 24px 0 0;
    min-width: 192px;
    height: 281px;
  }
}

.popup-img {
  height: 100%;
  width: 100%;
}

.popup-text {
  @media screen and (min-width: $bp-tablet) {
    width: 100%;
  }
}

.popup-title {
  margin: 0 0 4px 0;

  @extend %primary-title-text;
  color: var(--secondary-text-cl);
  @extend %cut-text;

  line-height: 1.12;
  letter-spacing: -0.04em;

  @include for-phone-only {
    font-size: 16px;
  }
  @include for-tablet-up {
    margin: 0 0 8px 0;
    font-size: 24px;
  }
}

.popup-author {
  margin: 0 0 18px 0;

  letter-spacing: -0.04em;
  font-style: italic;

  color: var(--main-text-cl);

  @extend %cut-text;

  @include for-phone-only {
    max-width: 287px;
    font-size: 12px;
    line-height: 1.17;
  }
  @include for-tablet-up {
    margin: 0 0 20px 0;
  }
}

.popup-description {
  padding: 1px 0;
  margin: 0 0 14px 0;
  font-style: normal;
  color: var(--secondary-text-cl);

  @extend %primary-description;
  color: var(--secondary-text-cl);
  overflow-y: auto;

  @include for-phone-only {
    height: 70px;
  }
  @include for-tablet-up {
    max-height: 180px;
  }
  @include for-tablet-up {
    margin: 0 0 20px 0;
  }
}

.popup-img-links {
  display: flex;
  align-items: center;

  margin: 0 0 40px 0;

  @media screen and (min-width: $bp-tablet) {
    margin: 0;
  }

  &__item:not(:last-child) {
    margin: 0 20px 0 0;
  }

  .popup-amazon-store {
    width: 62px;
    height: 19px;
  }

  .popup-app-book-store {
    width: 33px;
    height: 32px;
  }

  .popup-book-store {
    width: 38px;
    height: 36px;
  }
}

.add-remove-btn-container {
  margin: 0 0 8px 0;

  text-align: center;
}

.add-book-button {
  @extend %button-text;

  @include for-tablet-up {
    font-size: 18px;
    width: 100%;
  }
  color: var(--secondary-text-cl);

  background-color: var(--secondary-bg-cl);
  border: 2px solid var(--blue-cl);
  border-radius: 40px;
  transition: color var(--cubic-time), background-color var(--cubic-time);

  &:hover,
  &:focus {
    color: var(--white-cl);
    background-color: var(--blue-cl);
  }
}

.remove-book-button {
  @extend %button-text;
  color: var(--secondary-text-cl);

  background-color: var(--secondary-bg-cl);
  border: 2px solid var(--blue-cl);
  border-radius: 40px;
  transition: color var(--cubic-time), background-color var(--cubic-time);

  @include for-tablet-up {
    font-size: 18px;
    width: 100%;
  }

  &:hover,
  &:focus {
    color: var(--white-cl);
    background-color: var(--blue-cl);
  }
}

.remove-book-text-container {
  display: flex;
  justify-content: center;
  @include for-tablet-up {
    padding: 0 88px;
  }
}

.remove-book-text {
  width: 100%;
  text-align: center;

  @extend %tertiary-text;
  color: var(--third-text-cl);
}
