body.show-popup .popup {
  transform: translate(-50%, -50%) scale(1);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 24px;

  background: var(--white-cl);
  border: 2px solid var(--black-cl);
  border-radius: 18px;
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform var(--cubic-time);

  @media screen and (min-width: $bp-mobile) {
    width: 335px;
    height: 806px;
  }

  @media screen and (min-width: $bp-tablet) {
    padding: 40px 40px;
    width: 579px;
    height: 501px;
  }
}

.close-popup {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  border: none;
  background-color: var(--white-cl);
  transition: fill var(--cubic-time);

  &:hover,
  &:focus {
    fill: var(--blue-cl);
  }
}

.popup-box {
  @media screen and (min-width: $bp-tablet) {
    display: flex;
  }
}

.popup-box-img {
  margin: 0 auto 14px auto;

  width: 287px;
  height: 408px;

  @media screen and (min-width: $bp-tablet) {
    margin: 0 24px 0 0;
    width: 192px;
    height: 281px;
  }
}

.popup-img {
  height: 100%;
  width: 100%;
}

.popup-text {
  @media screen and (min-width: $bp-tablet) {
    width: 279px;
  }
}

.popup-title {
  margin: 0 0 4px 0;

  @extend %primary-title-text !optional;

  @media screen and (min-width: $bp-tablet) {
    margin: 0 0 8px 0;
  }
}

.popup-author {
  margin: 0 0 18px 0;

  @extend %primary-author-name !optional;

  @media screen and (min-width: $bp-tablet) {
    margin: 0 0 20px 0;
  }
}

.popup-description {
  margin: 0 0 14px 0;

  @extend %primary-description !optional;

  @media screen and (min-width: $bp-tablet) {
    margin: 0 0 20px 0;
  }
}

.popup-img-links {
  display: flex;
  align-items: center;
}

.popup-link:not(:last-child) {
  margin: 0 20px 0 0;
}

.popup-link {
  font-size: 10px;
  line-height: 12px;
}

.add-remove-btn-container {
  text-align: center;
}

.add-book-button {
  padding: 14px 28px;

  @extend %button-text !optional;

  background-color: var(--white-cl);
  border: 2px solid var(--blue-cl);
  border-radius: 40px;
  transition: color var(--cubic-time), background-color var(--cubic-time);

  &:hover,
  &:focus {
    color: var(--white-cl);
    background-color: var(--blue-cl);
  }
}

.remove-book-button {
  margin: 0 0 8px 0;
  padding: 14px 28px;

  @extend %button-text !optional;

  background-color: var(--white-cl);
  border: 2px solid var(--blue-cl);
  border-radius: 40px;
  transition: color var(--cubic-time), background-color var(--cubic-time);

  &:hover,
  &:focus {
    color: var(--white-cl);
    background-color: var(--blue-cl);
  }
}

.remove-book-text {
  @extend %tertiary-text !optional;
}
