body.show-popup .popup {
  transform: translate(-50%, -50%) scale(1);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px 24px;

  background: var(--white-cl);
  border: 2px solid var(--black-cl);
  border-radius: 18px;
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform var(--cubic-time);

  @media screen and (min-width: $bp-tablet) {
    padding: 40px 40px;

    width: 579px;
  }
}

.close-popup {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  border: none;
  background-color: var(--white-cl);
  transition: fill var(--cubic-time);

  &:hover,
  &:focus {
    fill: var(--blue-cl);
  }
}

.popup-box {
  width: 287px;

  @media screen and (min-width: $bp-tablet) {
    display: flex;
    width: 100%;
    margin: 0 0 40px 0;
  }
}

.popup-box-img {
  margin: 0 auto 14px auto;

  min-width: 287px;
  height: 408px;

  @media screen and (min-width: $bp-tablet) {
    margin: 0 24px 0 0;
    min-width: 192px;
    height: 281px;
  }
}

.popup-img {
  height: 100%;
  width: 100%;
}

.popup-text {
  @media screen and (min-width: $bp-tablet) {
    width: 100%;
  }
}

.popup-title {
  margin: 0 0 4px 0;

  // @extend var(--black-cl);

  @media screen and (min-width: $bp-tablet) {
    margin: 0 0 8px 0;
  }
}

.popup-author {
  margin: 0 0 18px 0;

  // @extend %primary-author-name;

  @media screen and (min-width: $bp-tablet) {
    margin: 0 0 20px 0;
  }
}

.popup-description {
  margin: 0 0 14px 0;

  // @extend %primary-description;

  @media screen and (min-width: $bp-tablet) {
    margin: 0 0 20px 0;
  }
}

.popup-img-links {
  display: flex;
  align-items: center;
  margin: 0 0 40px 0;

  @media screen and (min-width: $bp-tablet) {
    margin: 0;
  }
}

.popup-link:not(:last-child) {
  margin: 0 20px 0 0;
}

.add-remove-btn-container {
  text-align: center;
}

.add-book-button {
  // @extend %button-text;

  background-color: var(--white-cl);
  border: 2px solid var(--blue-cl);
  border-radius: 40px;
  transition: color var(--cubic-time), background-color var(--cubic-time);

  &:hover,
  &:focus {
    color: var(--white-cl);
    background-color: var(--blue-cl);
  }
}

.remove-book-button {
  margin: 0 0 8px 0;

  // @extend %button-text;

  background-color: var(--white-cl);
  border: 2px solid var(--blue-cl);
  border-radius: 40px;
  transition: color var(--cubic-time), background-color var(--cubic-time);

  &:hover,
  &:focus {
    color: var(--white-cl);
    background-color: var(--blue-cl);
  }
}

.remove-book-text {
  text-align: center;

  // @extend %tertiary-text;
}
