<section class="bs-books__section">
    <h1 class="bs-books__headline">Best Sellers <span class="bs-books__accent">Books</span></h1>
    <ul class="bs-books__categories-list">
        <li class="bs-books__categories-item">
            <h2 class="bs-books__category-title">Combined Print and E-Book Fiction</h2>
            <ul class="bs-books__list">
                <li class="bs-books__item">
                    <p class="bs-books__category">Combined Print and E-Book Fiction</p>
                    <div class="bs-books__thumb">
                        <img src="https://content1.rozetka.com.ua/goods/images/big/245254812.jpg" alt=""
                            class="bs-books__picture">
                    </div>
                    <div class="bs-books__box">
                        <h3 class="bs-books__title">I will find you</h3>
                        <p class="bs-books__author">Harlan Coben</p>
                    </div>
                    <div class="bs-books__button-box">
                        <button class="bs-books__see-more-btn" type="button" data-role="see-more-btn">see more</button>
                    </div>
                </li>
                <li class="bs-books__item">
                    <p class="bs-books__category">Combined Print and E-Book Fiction</p>
                    <div class="bs-books__thumb">
                        <img src="https://content1.rozetka.com.ua/goods/images/big/245254812.jpg" alt=""
                            class="bs-books__picture">
                    </div>
                    <div class="bs-books__box">
                        <h3 class="bs-books__title">I will find you</h3>
                        <p class="bs-books__author">Harlan Coben</p>
                    </div>
                    <div class="bs-books__button-box">
                        <button class="bs-books__see-more-btn" type="button" data-role="see-more-btn">see more</button>
                    </div>
                </li>
                <li class="bs-books__item">
                    <p class="bs-books__category">Combined Print and E-Book Fiction</p>
                    <div class="bs-books__thumb">
                        <img src="https://content1.rozetka.com.ua/goods/images/big/245254812.jpg" alt=""
                            class="bs-books__picture">
                    </div>
                    <div class="bs-books__box">
                        <h3 class="bs-books__title">I will find you</h3>
                        <p class="bs-books__author">Harlan Coben</p>
                    </div>
                    <div class="bs-books__button-box">
                        <button class="bs-books__see-more-btn" type="button" data-role="see-more-btn">see more</button>
                    </div>
                </li>
                <li class="bs-books__item">
                    <p class="bs-books__category">Combined Print and E-Book Fiction</p>
                    <div class="bs-books__thumb">
                        <img src="https://content1.rozetka.com.ua/goods/images/big/245254812.jpg" alt=""
                            class="bs-books__picture">
                    </div>
                    <div class="bs-books__box">
                        <h3 class="bs-books__title">I will find you</h3>
                        <p class="bs-books__author">Harlan Coben</p>
                    </div>
                    <div class="bs-books__button-box">
                        <button class="bs-books__see-more-btn" type="button" data-role="see-more-btn">see more</button>
                    </div>
                </li>
                <li class="bs-books__item">
                    <p class="bs-books__category">Combined Print and E-Book Fiction</p>
                    <div class="bs-books__thumb">
                        <img src="https://content1.rozetka.com.ua/goods/images/big/245254812.jpg" alt=""
                            class="bs-books__picture">
                    </div>
                    <div class="bs-books__box">
                        <h3 class="bs-books__title">I will find you</h3>
                        <p class="bs-books__author">Harlan Coben</p>
                    </div>
                    <div class="bs-books__button-box">
                        <button class="bs-books__see-more-btn" type="button" data-role="see-more-btn">see more</button>
                    </div>
                </li>
            </ul>
        </li>
    </ul>


</section>